@font-face {
    font-family: 'Crushed Regular';
    font-style: normal;
    font-weight: 200;
    src: local('Crushed Regular'), url('Crushed-Regular.woff') format('woff');
    }

body{
    --background: rgb(253, 233, 233);
    margin: 0;
    padding: 0;
    font-family:'Crushed Regular';
    font-size: 1em;  
    background-color: var(--background);
}

main{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow: clip;
}

nav{
    position: sticky;
    z-index: 10;
    top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
a {
    color: rgb(9, 9, 9);
}
nav a{
    text-decoration: none;
}
 a:hover {
    color: rgb(68, 115, 109);
}

h1{
    text-align: left;
}

p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    line-height: 1.8em;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    width: 100%;
    height: 100vh;
}
.profile{
    color:rgb(250, 242, 242);
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
.profile div:nth-of-type(1){
    line-height: 1.3em;
    margin-right: 20px;
    margin-top: -35px;
}
.profile div:nth-of-type(2){
    text-align: left;
    line-height: .8em;
    padding-left: 20px;
    padding-top: 100px;
    border-left: 3px solid rgb(250, 242, 242);
}
.profile h1{
    font-size: 600%;
    text-align: right;
}

.profile h2{
    font-size: 300%;
}
.profile h2:nth-of-type(2){
    margin-bottom: 20px;
}

.about{
    display: flex;
    width: 70%;
    height: 100vh;
}
.about img{
   margin-top: 275px;
   width: 350px;
   height: 420px;
    
}
.about div{
    padding: 250px 30px 0px 30px;
    width: 70%;
    background-color: rgb(111, 144, 118);
}
.about div:first-of-type{
    margin-top: 0px;
    background-color: var(--background);
}

.projects{
    background-color: rgb(10, 75, 79);
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 100vh;
}
.prjshell{
    margin: 100px auto;
    width: 80%;
}
.projects h1, .contact h1, .prj h2, .contact a{
    color:rgb(250, 242, 242);
}
.prj{
    margin: 50px auto;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.prj div{ 
    flex-basis: 400px;
    cursor: pointer;  
}
.prj div:hover{
    filter:brightness(80%);
}

.resume{
    width: 80%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 40px;
}
.resume div{
    margin: 40px auto;
}
.resume img{
    margin-bottom: 30px;
    width: 70%;
    height: auto;
}
.resume a{
    font-size: 1.5em;
}

.contact{
    color:rgb(250, 242, 242);
    background-color: rgb(10, 75, 79);
    width: 100%;
    height: 95vh;
}
.contact-shell{
    margin: 100px auto;
    width: 80%;
    height: auto;
}

form{
    text-align: left;
    font-size: 1.2em;
    width: 60%;
    max-width: 600px;
    margin: 70px auto;
}

input, textarea{
    color: rgb(250, 242, 242);
    width: 100%;
    margin: 10px 0px 15px 0px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid var(--background);
    background-color:  rgb(10, 75, 79);
}
input:focus, textarea:focus{
     color: rgb(250, 242, 242);
    background-color: rgb(68, 115, 109);
}
input[type=submit]{
    width: 40%;
    margin-top: 0px;
    margin-left: 30%;
    border: none;
    border-radius: 2px;
    background-color: rgb(68, 115, 109);
}
input[type=submit]:hover{
    background-color: var(--background);
}

footer{
    background-color: rgb(10, 75, 79);
    border-top: 1px solid rgb(68, 115, 109);
    width: inherit;
    padding: 20px;
}

.prj-body{
    margin: 30px auto;
    width: 80%; 
}

.prj-body h1{
    margin-top: 50px;
}

.carousel{
    margin: 50px auto;
    width: 100%;
    display: flex;
    overflow-x: auto;
}
.carousel::-webkit-scrollbar{
    display: none;
}

.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 60s infinite linear;
    padding-right: 1em;
}

.card{
    flex: 0 0 10em;
    height: 250px;
    padding: 1em;
    background-color: none;
    font-size: 3rem;
    border-radius: .2rem;
    text-align: center;
    align-content: center;
}

.card:hover{
    cursor: pointer;
}

#prj1{
    background-image: url("assets/fit-home.png");
}
#prj2{
    background-image: url("assets/fit-yw.png");
}
#prj3{
    background-image: url("assets/fit-library.png");
}
#prj4{
    background-image: url("assets/fit-create.png");
}
#prj5{
    background-image: url("assets/fit-home.png");
}
#prj6{
    background-image: url("assets/fit-yw.png");
}
#prj7{
    background-image: url("assets/fit-library.png");
}
#prj8{
    background-image: url("assets/fit-create.png");
}
#prj9{
    background-image: url("assets/home.png");
}
#prj10{
    background-image: url("assets/list.png");
}
#prj11{
    background-image: url("assets/details.png");
}
#prj12{
    background-image: url("assets/login.png");
}
#prj13{
    background-image: url("assets/shoppingcart.png");
}
#prj14{
    background-image: url("assets/checkout.png");
}
#prj15{
    background-image: url("assets/home.png");
}
#prj16{
    background-image: url("assets/list.png");
}
#prj17{
    background-image: url("assets/details.png");
}


.group div{
    background-size: cover;
}

.jt{
    margin: 30px auto;
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.jt div{
    flex-basis: 600px;
}


@keyframes spin{
    from {translate: 0;}
    to{translate: -100%;}
}

@keyframes ani-hero {
    0% {
        --s-start-0: 9.607184652436587%;
        --s-end-0: 46.553805035598664%;
        --c-0: hsla(90, 10%, 41%, 1);
        --x-0: 2%;
        --y-0: 3%;
        --c-1: hsla(155, 17%, 31%, 1);
        --s-start-1: 9.607184652436587%;
        --s-end-1: 46.553805035598664%;
        --x-1: 20%;
        --y-1: 41%;
        --y-2: 52.52623912935307%;
        --x-2: 102.92309647524728%;
        --c-2: hsla(1, 17%, 62%, 1);
        --s-start-2: 15.296741273787811%;
        --s-end-2: 46.736404479143886%;
        --y-3: 45.18807593562202%;
        --x-3: 9.69991016871257%;
        --c-3: hsla(1, 17%, 62%, 1);
        --s-start-3: 15.296741273787811%;
        --s-end-3: 29.445605557320256%;
        --y-4: 9%;
        --x-4: 62%;
        --s-start-4: 9.607184652436587%;
        --s-end-4: 46.553805035598664%;
        --c-4: hsla(155, 17%, 31%, 1);
        --y-5: 88.97221474282834%;
        --x-5: 90.14936773382772%;
        --s-start-5: 7.386401940264009%;
        --s-end-5: 28.726764092851464%;
        --c-5: hsla(187, 87%, 13%, 1);
    }

    100% {
        --s-start-0: 9.607184652436587%;
        --s-end-0: 43.12105913304571%;
        --c-0: hsla(90, 10%, 41%, 0.57);
        --x-0: 31%;
        --y-0: 35%;
        --c-1: hsla(155, 17%, 31%, 1);
        --s-start-1: 9.607184652436587%;
        --s-end-1: 48.858759404100496%;
        --x-1: 5%;
        --y-1: 69%;
        --y-2: 102.56305145760568%;
        --x-2: 10.367964132211872%;
        --c-2: hsla(1, 17%, 62%, 1);
        --s-start-2: 9.607184652436587%;
        --s-end-2: 31.020763260806614%;
        --y-3: 0%;
        --x-3: 68%;
        --c-3: hsla(1, 17%, 62%, 1);
        --s-start-3: 9.607184652436587%;
        --s-end-3: 38.99126559584888%;
        --y-4: 76.47713542602985%;
        --x-4: 67.10976778219052%;
        --s-start-4: 9.607184652436587%;
        --s-end-4: 48.858759404100496%;
        --c-4: hsla(155, 17%, 31%, 1);
        --y-5: 61.948060859571626%;
        --x-5: 26.937063343079966%;
        --s-start-5: 9.607184652436587%;
        --s-end-5: 48.858759404100496%;
        --c-5: hsla(187, 95%, 9%, 1);
    }
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9.607184652436587%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 46.553805035598664%
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(90, 10%, 41%, 1)
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 2%
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 3%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(155, 17%, 31%, 1)
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9.607184652436587%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 46.553805035598664%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 20%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 41%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 52.52623912935307%
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 102.92309647524728%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(1, 17%, 62%, 1)
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 15.296741273787811%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 46.736404479143886%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 45.18807593562202%
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9.69991016871257%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(1, 17%, 62%, 1)
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 15.296741273787811%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 29.445605557320256%
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9%
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 62%
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9.607184652436587%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 46.553805035598664%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(155, 17%, 31%, 1)
}

@property --y-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 88.97221474282834%
}

@property --x-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 90.14936773382772%
}

@property --s-start-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7.386401940264009%
}

@property --s-end-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 28.726764092851464%
}

@property --c-5 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(187, 87%, 13%, 1)
}

#hero {
    --c-0: hsla(90, 10%, 41%, 1);
    --x-0: 2%;
    --y-0: 3%;
    --c-1: hsla(155, 17%, 31%, 1);
    --x-1: 20%;
    --y-1: 41%;
    --y-2: 52.52623912935307%;
    --x-2: 102.92309647524728%;
    --c-2: hsla(1, 17%, 62%, 1);
    --y-3: 45.18807593562202%;
    --x-3: 9.69991016871257%;
    --c-3: hsla(1, 17%, 62%, 1);
    --y-4: 9%;
    --x-4: 62%;
    --c-4: hsla(155, 17%, 31%, 1);
    --y-5: 88.97221474282834%;
    --x-5: 90.14936773382772%;
    --c-5: hsla(187, 87%, 13%, 1);
    ;
    background-color: hsla(187, 91%, 14%, 1);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1746 1746' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4)), radial-gradient(circle at var(--x-5) var(--y-5), var(--c-5) var(--s-start-5), transparent var(--s-end-5));
    animation: ani-hero 20s linear infinite alternate-reverse;
    background-blend-mode: overlay, normal, normal, normal, normal, normal, normal;
    will-change: transform, opacity;
    contain: paint
}

@media (max-width: 750px) {

    #hero{
        background-color: rgb(10, 75, 79);
        background-image: none;
        animation: none;
    }

    .profile{
        top: 175px;
        flex-direction: column;
        width: 75%;
    }

    .profile div:nth-of-type(1){
        border-right: 3px solid rgb(250, 242, 242);
        padding-right: 20px;
        padding-bottom: 20px;
    }
    .profile h1:nth-of-type(1){
        margin-top: 30px;
    }
    .profile h2:nth-of-type(1){
        line-height: 1.1em;
    }

    .about{
        padding: 0px 0px 65px 0px;
        height: auto;
        flex-direction: column-reverse;
        align-items: center;
    }
    .about div{
        width: 85%;
        padding-top: 5px;
    }
    .about img{
        margin-top: 50px;
        width: 300px;
        height: 370px;
    
    }
   
    .prj{
        flex-direction: column;
        margin-top: 40px;
    }

    .prj img{
        width: 80%;
        height: auto;
        margin-top: 0px;
    }

    .projects{
        height: auto;
    }

    .prjshell{
        margin: 0px auto;
        
        
    }

    .resume{
       height: auto;
    }
    .resume div{
        width: 100%;
        margin: 20px auto 60px auto;
    }
    .resume img{
        width: 100%;
    }

    .contact{
        height: auto;
    }

    form{
        width: 85%;
    }

    .card{
        height: 200px;
    }

}